/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #fffef8;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1500px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
#editBanner{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 56px;
	background-color: black;
	color: #fffef8;
}
#editBanner> *{
	padding: 0 4px 0 4px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
	padding: 0 150px;
}
header nav ul li:last-child img{
	height: 16.8px;
}
main{
	padding: 0 250px;
	margin-top: 80px;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
nav li a{
	text-decoration: none;
	/* color: black; */
}

/* .header-link{
	color: black;
} */
.header-link:visited{
	color: rgb(0, 0, 0);
}
.header-link:fo{
	color: rgb(0, 0, 0);
}

li:hover, a:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1.2;
}
#introduction img {
	display: block;
	margin-right: 40px;
	width: 90%;
}

#introduction article {
	flex: 0.8;
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio{
	flex-wrap: wrap;
	margin-top: 150px;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
#editProjects{
	display: flex;
	align-items: flex-end;
	width: 30%;
	height: fit-content;
	padding-top: 6px;
}
#editProjects span{
	padding-right: 10px;
}

#filter{
	margin: 50px 0 50px 0;
}
#filter ul{
	display: flex;
	justify-content: center;
}
#filter li{
	border: 1px solid #1D6154;
	border-radius: 30px;
	color: #1D6154;
	font-size: large;
	font-weight: bolder;
	padding: 8px 25px ;
	margin: 0 6px 0 6px;
}
#filter li:hover{
	cursor: pointer;
}
.selected{
	background-color: #1D6154;
	color: #fffef8 !important;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/****************** Connexion.html **************************/
nav li:nth-child(3) {
	font-weight: bold;
}

#connexion{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 400px;
}

.formulaire-connexion{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 300px;
	width: 40%;
}
.formulaire-connexion input{
	border: 0px;
	box-shadow: 0px 5px 8px 2px rgb(234, 230, 230);
	width: 98%;
	height: 50px;
}
.formulaire-connexion button{
	background-color: #1D6154;
	border: 0px;
	border-radius: 30px;
	padding: 10px 0px 10px 0px;
	color: #fffef8;
	width: 50%;
	font-size: 140%;
}
.formulaire-connexion label{
	width: 100%;
	font-weight: bold;
}

/******************** Modal - Suppression de projets ************************/
.modal{
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.35);
}

.modal-wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: auto;
	width: 630px;
	height: fit-content;
	padding: 26px;
	background-color: #fff;
	border-radius: 2%;
	
}
.fa-xmark{
	align-self: flex-end;
	font-size: 22px;
}
#titleModal{
	color: black;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-weight: 400;
	font-size: 29px ;
	height: fit-content;
	margin: 15px 0 0 0 !important;
}
.list-photo-edit{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	column-gap: 10px;
	row-gap: 30px;
	border-bottom: 1px solid #cfcfcf;
	width: 73%;
	height: fit-content;
	padding: 55px 0px 65px 0px;
	margin-bottom: 50px;
}
.list-photo-edit figure{
	display: flex;
	position: relative;
	flex-direction: column;
}
.list-photo-edit i{
	align-self: flex-end;
	position:absolute;
	top: 6px;
	right: 6px;
	width: fit-content;
	height: fit-content;
	padding: 4px 5px;
	border-radius: 3px;
	background-color: black;
	font-size: 11px;
}
.list-photo-edit figure img{
	width: 100%;
	/* height: 120px; */
}
#addImgBtn{
	background-color: #1D6154;
	color: #fff;
	border-radius: 20px;
	width: 43%;
	height: 35px;
	font-family:'Century Gothic',sans-serif;
	font-size: 15px;
	margin-bottom: 20px;
}
.fa-xmark, .fa-trash-can, #addImgBtn{
	cursor: pointer;
}

/******************** Modal - Ajout de projets ************************/

.modal-wrapper-2{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 8% 12% 60% 20%;
	height: 650px;
}

.fa-arrow-left{
	grid-column: 1/2;
	height: 100%;
	font-size: x-large;
}

.fa-xmark{
	grid-column: 6/7;
	height: 100%;
	text-align: right;
}

#titleModal2{
	grid-column: 3/5;
	color: black;
	font-family: sans-serif;
	font-weight: lighter;
}

.projects-add-form{
	grid-column: 2/6;
	height: 100%;
}
.projects-add-form form{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;
}
.add-img{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 40%;
	background-color: #e8f1f6;
	padding: 0 25%;
}

#img-preview{
	width:100%;
	height:100%;
}

.add-img .fa-image{
	color: #b9c5cc;
	font-size: 60px;
}
.add-img label{
	width: 90%;
	height: 25%;
	background-color: #cbd6dc;
	color: #306685;
	font-weight: bolder;
	border-radius: 20px;
	align-content: center;
	text-align: center;
}
.add-img span{
	height: 10%;
}

#title, #categoryId{
	height: 40px;
	padding: 0px;
	border-style: none;
	box-shadow: 0px 4px 30px -12px rgb(141, 139, 139);
}

#validateBtn{
	grid-column: 3/5;
	/* background-color: #1D6154; */
	background-color: #a7a7a7;
	color: #fff;
	border: none;
	border-radius: 20px;
	width: 100%;
	height: 35px;
	font-family:'Century Gothic',sans-serif;
	font-size: 15px;
	margin-bottom: 20px;
}

.okColor{
	background-color: #1D6154 !important;
}
/* .notOkColor{
	background-color: #a7a7a7;
} */